@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@theme {
  --color-primary-50: 240, 248, 255;
  --color-primary-100: 221, 234, 255;
  --color-primary-200: 187, 211, 255;
  --color-primary-300: 153, 188, 255;
  --color-primary-400: 119, 165, 255;
  --color-primary-500: 85, 142, 255;
  --color-primary-600: 51, 119, 255;
  --color-primary-700: 17, 96, 255;
  --color-primary-800: 0, 73, 204;
  --color-primary-900: 0, 50, 153;
}


.process-number {
  @apply text-primary-500;
}



:root {
  --color-primary: 80 0 255;
  --color-secondary: 29 78 216;
  --color-accent: 249 115 22;
  --color-success: 34 197 94;
  --color-warning: 234 179 8;
  --color-error: 239 68 68;
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-gray-800 bg-gray-50;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-semibold leading-tight;
}

p {
  @apply leading-relaxed;
}

.process-step-line {
  @apply absolute w-1 bg-indigo-100;
  left: calc(50% - 0.5px);
  z-index: 0;
}

.process-number {
  @apply text-7xl md:text-8xl lg:text-9xl font-bold text-primary-500;
  line-height: 0.9;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-500 to-indigo-600;
}

@media (max-width: 768px) {
  .process-step-line {
    left: 2rem;
  }
}
